#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <behaviors/ruen.dtsi>
#include <dt-bindings/zmk/kscan_mock.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp A &kp B
                &kp C &ruen 1
            >;
        };

        num_layer {
            bindings = <
                &kp N0 &kp N1
                &trans &trans
            >;
        };
    };
};
